<!-- Este será el que renderiza la parte "Body" de la Plantilla o ahí veremos 

    NOTA: Actualicenla si están siguiendo
    el video a como de lugar con lo demás que son las demás Carpetas/Archivos: 
    "Partials, Layouts, Errores, etc".

    # Igual dejaré el link acá: https://www.youtube.com/watch?v=PAm_QcN6Ffs #
-->
<nav>
    <a href="/admin">
        <img src="img/logoAlexa.jpg" alt="AlexaSoft" width="150" height="auto">
    </a>

<div class="navbar-links">
    <% if (!locals.req.session.idUsuario) { %>
        <a href="/login">Iniciar Sesión</a>
        <a href="/registro">Registrar</a>
    <% } else { %>
        <a href="/cerrarsesion">Cerrar Sesión</a>
        <div class="dropdown">
            <button>Opciones</button>
            <div class="dropdown-content">
                <a href="/admin">Admin</a>
                <a href="/citas">Citas</a>
                <a href="/ventas">Ventas</a>
                <a href="/compras">Compras</a>
                <a href="/salidainsumos">Salida Insumos</a>
                <a href="/usuarios">Usuarios</a>
            </div>
        </div>
    <% } %>
</div>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", (e)=>{
        e.preventDefault();
    })
</script>