<!-- Este será el que renderiza la parte "Body" de la Plantilla o ahí veremos 

    NOTA: Actualicenla si están siguiendo
    el video a como de lugar con lo demás que son las demás Carpetas/Archivos: 
    "Partials, Layouts, Errores, etc".

    # Igual dejaré el link acá: https://www.youtube.com/watch?v=PAm_QcN6Ffs #
-->

<div>
    <ul>
        <li>
            <a href="/">
                <i class="fab fa-js"></i>
                Venta1
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fab fa-js"></i>
                Venta2
            </a>
        </li>
    </ul>
</div>