
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body>
    
    <h1>Login</h1>

    <form method="POST" id="formulario">

        <label>Email</label>
        <input type="email" name="correo" >

      <div>
        <label>Contraseña</label>
        <input type="password" name="contrasena">
      </div>
  
      <button type="submit">Iniciar sesion</button>
  
      <% if (error) { %>
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= error %>'
          });
        </script>
        <% } %>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
        event.preventDefault();
      });
    </script>
    
</body>
