<button id="mostrarFormulario">Crear</button>

<form action="" id="modalFormulario" style="display: none;">
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</form>


<script>
    document.getElementById('mostrarFormulario').addEventListener('click', function() {
        var formulario = document.getElementById('modalFormulario');
        formulario.style.display = 'block'; // Cambia 'none' a 'block' para mostrar y ocultar
    });
</script>