<style>
    /* Estilo para el modal */
    #modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    #modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }

    /* Estilo para cerrar el modal */
    #close-modal {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>

<!-- Header INFO -->
<div>
    <h1>Ventas</h1>
    <div>
        <div class="botonInfo">
            <button id="btnInfo">Info</button>
        </div>
    </div>
</div>

<div class="centrarBody">
    <form action="/postVentas" method="POST" id="formulario">
        <div>
            <label>Colaborador: </label>
            <select name="nombreColaborador" id="nombreColaborador">
                <option value="" selected disabled>Selecciona un colaborador</option>
                <option value="Juan" data-cedula="734253951">Juan</option>
                <option value="Maria" data-cedula="538517897">Maria</option>
                <option value="Camila" data-cedula="923120102">Camila</option>
                <option value="Carlos" data-cedula="891520888">Carlos</option>
            </select>
        </div>
        <div>
            <label>Cotización: </label>
            <select name="nombreCliente" id="nombreCliente">
                <option value="" selected disabled>Selecciona un cliente</option>
                <option value="">Juan</option>
                <option value="">Maria</option>
                <option value="">Camila</option>
                <option value="">Carlos</option>
            </select>
        </div>
        <button class="fondoOro" onclick="enviarFormulario()">Registrar</button>
    </form>
</div>

<script>
    // Función para mostrar SweetAlert con información
    document.getElementById('btnInfo').addEventListener('click', function () {
        Swal.fire({
            title: 'Información sobre Ventas',
            html: `
            <p>En esta sección, se realiza la venta de productos y servicios.</p>
            <p>Proceso de venta:</p>
            <ol>
                <li>El colaborador puede registrar información sobre la venta de productos.</li>
                <li>Para cada venta, se puede generar una cotización asociada.</li>
                <li>Al hacer clic en "Registrar", los datos se enviarán para su procesamiento.</li>
            </ol>
            <p>Recuerda llenar todos los campos necesarios y verificar la información antes de confirmar.</p>
        `,
            icon: 'info',
            confirmButtonText: 'Aceptar'
        });
    });

    // Función para establecer la cédula y enviar el formulario
    function enviarFormulario() {
        const nombreColaboradorSelect = document.getElementById('nombreColaborador');
        const cedulaColaborador = nombreColaboradorSelect.options[nombreColaboradorSelect.selectedIndex].getAttribute('data-cedula');

        // Añade la cédula al formulario
        const formulario = document.getElementById('formulario');
        const cedulaInput = document.createElement('input');
        cedulaInput.type = 'hidden';
        cedulaInput.name = 'cedulaColaborador';
        cedulaInput.value = cedulaColaborador;
        formulario.appendChild(cedulaInput);

        // Envía el formulario
        formulario.submit();
    }
</script>