<div>
    <h1>Ventas</h1>
    <div>
        <div class="botonInfo">
            <button id="btnInfo">Info</button>
        </div>
    </div>
</div>

<div class="centrarBody">
    <form method="POST" id="formulario">
        <div>
            <label>Colaborador: </label>
            <button id="btnColaborador">Añadir</button>
        </div>
        <div>
            <label>Cotización: </label>
            <button id="btnCotizacion">Añadir</button>
        </div>
        <button id="botonRegistro" class="fondoOro">Registrar</button>
    </form>
</div>

<!-- Modal para Colaborador -->
<div id="modalColaborador" class="modal">
    <h2>Formulario Colaborador</h2>
    <div>
        <label>Colaborador: </label>
        <select name="" id="selectColaborador" onchange="mostrarSeccionCedula(this.value)">
            <option value="" selected disabled> Selecciona un colaborador </option>
            <option value="Juan">Juan</option>
            <option value="Maria">Maria</option>
            <option value="Camila">Camila</option>
            <option value="Carlos">Carlos</option>
        </select>
    </div>
    <br>
    <button onclick="registrarColaborador()" class="fondoOro">Añadir</button>
    <button onclick="cerrarModal('modalColaborador')" class="fondoVino">Cerrar</button>
</div>

<!-- Modal para Cotización -->
<div id="modalCotizacion" class="modal">
    <h2>Formulario Cotización</h2>
    <div>
        <label>Cotización: </label>
        <input type="text">
    </div>
    <br>
    <button onclick="registrarColaborador()" class="fondoOro">Añadir</button>
    <button onclick="cerrarModal('modalCotizacion')" class="fondoVino">Cerrar</button>
</div>

<script>
    // Función para mostrar SweetAlert con información
    document.getElementById('btnInfo').addEventListener('click', function () {
        Swal.fire({
            title: 'Información sobre Ventas',
            html: `
            <p>En esta sección, se realiza la venta de productos y servicios.</p>
            <p>Proceso de venta:</p>
            <ol>
                <li>El colaborador puede registrar información sobre la venta de productos.</li>
                <li>Para cada venta, se puede generar una cotización asociada.</li>
                <li>Al hacer clic en "Registrar", los datos se enviarán para su procesamiento.</li>
            </ol>
            <p>Recuerda llenar todos los campos necesarios y verificar la información antes de confirmar.</p>
        `,
            icon: 'info',
            confirmButtonText: 'Aceptar'
        });
    });

    // Función deshabilitar aleatoriamente una opción del select
    document.addEventListener('DOMContentLoaded', function () {
        deshabilitarColaboradorAleatorio();
    });

    document.getElementById('btnColaborador').addEventListener('click', function () {
        document.getElementById('modalColaborador').style.display = 'block';
    });

    document.getElementById('btnCotizacion').addEventListener('click', function () {
        document.getElementById('modalCotizacion').style.display = 'block';
    });

    // Función para deshabilitar aleatoriamente un option
    function deshabilitarColaboradorAleatorio() {
        var select = document.getElementById('selectColaborador');
        var opciones = select.options;

        var indiceAleatorio = Math.floor(Math.random() * opciones.length);
        opciones[indiceAleatorio].disabled = true;
    }

    function mostrarSeccionCedula(colaboradorSeleccionado) {
        if (colaboradorSeleccionado === 'Juan' || colaboradorSeleccionado === 'Maria' || colaboradorSeleccionado === 'Camila' || colaboradorSeleccionado === 'Carlos') {
            asignarCedulaYEstado(colaboradorSeleccionado);
        }
    }

    function asignarCedulaYEstado(colaboradorSeleccionado) {
        var cedula = obtenerCedula(colaboradorSeleccionado);
        var estado = 'Habilitado';

        // Visualizar en consola si pasan los datos.
        console.log('Colaborador:', colaboradorSeleccionado);
        console.log('Cédula:', cedula);
        console.log('Estado:', estado);
    }

    // Función para obtener la cédula según el colaborador seleccionado
    function obtenerCedula(colaboradorSeleccionado) {
        switch (colaboradorSeleccionado) {
            case 'Juan':
                return '734253951';
            case 'Maria':
                return '538517897';
            case 'Camila':
                return '923120102';
            case 'Carlos':
                return '891520888';
            default:
                return '';
        }
    }

    // Funciones para registrar Colaborador y Cotización
    function registrarColaborador() {
        var colaboradorSeleccionado = document.getElementById('selectColaborador').value;

        if (colaboradorSeleccionado === '') {
            Swal.fire('Error', 'Selecciona un colaborador antes de registrar.', 'error');
            return;
        }

        // Cerrar el modal
        cerrarModal('modalColaborador');
        document.getElementById('modalColaborador').style.display = 'none';
        Swal.fire('Colaborador registrado', '', 'success');
    }

    function registrarCotizacion() {

        // Cerrar el modal
        cerrarModal('modalCotiacion');
        document.getElementById('modalCotizacion').style.display = 'none';
        Swal.fire('Cotización registrada', '', 'success');
    }

    // Función cerrar modales
    function cerrarModal(idModal) {
        document.getElementById(idModal).style.display = 'none';
    }
</script>