<div>
    <h1>Ventas</h1>
    <div>
        <div class="botonInfo">
            <button id="btnInfo">Info</button>
        </div>
    </div>
</div>

<div class="centrarBody">
    <form method="POST" id="formulario">
        <div>
            <label>Colaborador: </label>
            <input type="text" name="Nombre_Colaborador" id="Nombre_Colaborador">
        </div>
        <button id="botonRegistro" class="fondoOro">Registrar</button>
    </form>
</div>

<script>
    // Función para mostrar SweetAlert con información
    document.getElementById('btnInfo').addEventListener('click', function () {
        Swal.fire({
            title: 'Información sobre Ventas',
            html: `
            <p>En esta sección, se realiza la venta de productos y servicios.</p>
            <p>Proceso de venta:</p>
            <ol>
                <li>El colaborador puede registrar información sobre la venta de productos.</li>
                <li>Para cada venta, se puede generar una cotización asociada.</li>
                <li>Al hacer clic en "Registrar", los datos se enviarán para su procesamiento.</li>
            </ol>
            <p>Recuerda llenar todos los campos necesarios y verificar la información antes de confirmar.</p>
        `,
            icon: 'info',
            confirmButtonText: 'Aceptar'
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('formulario').addEventListener('submit', function (event) {
            // Evitar que el formulario se envíe de forma predeterminada
            event.preventDefault();

            // Obtener los datos del formulario
            var formData = new FormData(this);
            formData.forEach((value, key) => {
                console.log(key, value);
            });

            fetch('/postVentas', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json()) // Cambia a response.text() si esperas HTML o texto
                .then(data => {
                    // Manejar la respuesta del servidor si es necesario
                    console.log(data);
                })
                .catch(error => {
                    // Manejar errores si es necesario
                    console.error(error);
                });
        });
    });

</script>